include components/page/page.pug
include components/mixins/mixins.pug
include components/content-part-column/content-part-column.pug
include components/column-item/column-item.pug
include components/contact/contact.pug
include components/inner-part/inner-part.pug
include components/menu-inner/menu-inner.pug

+page('')
  .container
    button(id="attach")!="attach to DOM-element"
    button(id="detach")!="detach from DOM-element"
    button(id="enableAction")!="enable action leftArrow"
    button(id="disableAction")!="disable action leftArrow"
    button(id="bindJump")!="bind action 'jump'"
    #element(style="background-color: red")

  script(src="scripts/inputController.js")
  script(src="scripts/inputControllerTest.js")

//TODO: Пофиксить пропавшие названия у кнопок
